.deps
*.[doa]
Vala/*/*.c
Vala/*/*/*.c
*~
*.stamp
*.gmo
*.anjuta*
po/*.mo
aclocal.m4
autom4te.cache
compile
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
!po/Makefile.in
missing
mkinstalldirs
Vala/imgopt/src/imgopt
test
PlayStation/jsmin/jsmin
stamp-*
/pike/java-soap/WebServices/nbproject/private/
/pike/java-soap/WebServices/build/
/pike/java-soap/WebServices/dist/